:root {
    /* Colors */
    --main-bg-primary: #1cc7e5;
    --main-bg-darker-primary: #17a7c0;

    --main-bg-dark-primary: #0895ad;
    --main-bg-accent: #ff6ee7;
    --main-bg-section: #d6cab9;
    --main-bg-pink: #ee9bc1;

    /* Dimensions */
    --nav-height-desktop: 6vh;
    --nav-height-desktop: 6vh;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: var(--nav-height-desktop);
    z-index: 1;
    background-color: var(--main-bg-primary);
    box-shadow: 0px 5px 5px grey;

}

main {
    width: 65%;
    max-width: 1024px;
    margin: auto;
    background-color: whitesmoke;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    background-color: var(--main-bg-section);

}

.logo-container {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 2;
    width: 150px;
}

.logo-container>.logo {
    width: fit-content;
}

.logo-container>.logo>img {
    max-height: 100%;
    max-width: 100%;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    width: 40%;
}

.nav-links>li {
    list-style: none;
    padding-top: 2vh;
    height: var(--nav-height-desktop);

}

.nav-links a,
.nav-links span {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 550;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

.nav-links .link-btn :hover span {
    border-bottom: 2px solid white;
}

.sub-menu {
    display: block;
    position: absolute;
    left: 0;
    top: var(--nav-height-desktop);
    background-color: var(--main-bg-darker-primary);
    width: 100%;
    box-shadow: 0px 5px 5px 2px grey;

    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}


.active {
    opacity: 1;
    height: auto;
}


.sub-menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
    margin: auto;
    min-height: 20vh;
    height: auto;

    padding: 1vh 0 1vh 0;


    max-width: 1024px;
}

.sub-menu>ul li {
    list-style: none;
}

.category-container {
    height: auto;
}


.category-container h2 {
    color: white;
}

.category-container ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    flex-wrap: wrap;
}

.category-container li {
    padding: 0.5vh 0;
    margin: 0;
    height: auto;
    padding: 0;
}

.category-container a {
    height: auto;
    padding: 0;
}

.category-container a span {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 0.1rem;
}


.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1vh;
    left: 2vh;

}

.burger div {
    z-index: 2;
    width: 30px;
    height: 3px;
    margin: 6px;

    background-color: whitesmoke;
    transition: all 0.3s ease;
}

footer {
    background-color: var(--main-bg-primary);
    display: block;
    min-height: 40vh;

}

.footer-container {
    display: flex;
    min-height: 40vh;
    max-width: 1024px;
    width: 65%;
    justify-content: space-around;
    margin: auto;
}

.footer-links{
    background-color: var(--main-bg-primary);
}


.links-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    justify-content: space-around;
    width: 65%;
    max-width: 1024px;
    margin: auto;
    border-bottom: 1px solid white;

}

.links-container > a{
    display: block;
    text-decoration: none;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin: 0.5vh auto .5vh auto;


}

.links-container > a > span{
    color: whitesmoke;
    display: block;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
}


.links-container > a:hover span{
    border-bottom: 1px solid white;
}

.item {
    padding: 3vh 2% 3vh 2%;
}


.item h2 {
    color: white;
    text-align: center;
    padding-bottom: 1.5vh;

}


.decoration-line{
    width: 60%;
    margin: 3vh auto 3vh auto;
    border-top: 1px solid white;
}
.vertical-line{
    height: auto;
    margin: 5vh auto 5vh auto;
    width: 2px;
    background-color: white;
}


.copyright {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    min-height: 1.5vh;
    bottom: 0;
    background-color: var(--main-bg-dark-primary);
    color: black;
}

@media screen and (max-width: 1124px) {
    .nav-links {
        width: 70%;
        padding-left: 10vh;
    }

    main {
        width: 80%;
        margin: auto;
        -webkit-box-shadow: 0 0 10px gray;
        box-shadow: 0 0 10px gray;

    }

    .footer-container, .links-container {
        width: 80%;
    }

    .sub-menu>ul {

        padding-left: 10vh;
        width: 90%;
    }


    .logo-container {
        left: 3%;
    }


}

@media screen and (max-width: 860px) {

    .sub-menu>ul {

        padding-left: 15vh;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: block;
        box-shadow: 0px 5px 5px grey;
        top: 0;
        width: 100%;
        position: absolute;
    }

    main {
        width: 100%;
        margin: auto;
        margin-top: 5vh;
    }

    footer {
        width: auto;
        height: auto;
        margin: auto;
        top: 100%;
    }

    .logo-container {
        position: absolute;
        top: 0;
        z-index: 2;
        right: 10%;
        left: auto;
        width: 20%;
    }




    .nav-links {
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;

        position: absolute;
        top: var(--nav-height-desktop);
        right: 0px;
        transform: translateX(100%);

        padding-left: 0;
        margin: auto;

        background-color: var(--main-bg-pink);
        text-align: center;
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        display: block;
        height: fit-content;
        padding: 0;
        width: 100vw;
    }

    .nav-links li a {
        display: block;
        left: 0;
        margin: auto;
        padding: 1vh 2vw 1vh 2vw;
        width: 100vw;
        border-bottom: 1px solid gray;
    }

    .sub-menu {
        display: block;
        box-shadow: none;
        position: relative;
        background-color: var(--main-bg-primary);
        opacity: 1;
        transition: display 2s ease-in;
        top: 0vh;
    }

    .sub-menu>ul {
        padding: 0;
        display: block;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--main-bg-primary);

        position: unset;
    }

    .sub-menu > ul > li > h2 {
        padding: 1vh;
        border-bottom: 1px solid gray;
    }

    .category-container>ul {
        display: flex;
        min-height: auto;
        height: auto;

        width: 100vh;
        position: unset;
    }
/* 

    .category-container.active > ul{
        height: auto;
        min-height: auto;
        visibility: visible;
    } */

    .category-container {
        display: block;

        position: unset;
    }

    .category-container li {
        padding: 0;
    }


    .burger {
        display: block;
    }

    .copyright {
        font-size: 0.7rem;
    }

    .footer-container {
        flex-direction: column;
        width: 100%;
    }

    .vertical-line{
        display: none;
        visibility: hidden;
    }

}



.sub-menu-active {
    height: auto;
}

.sub-menu-active h2 {
    background-color: var(--main-bg-darker-primary);
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line0 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line1 {
    opacity: 0;
}

.toggle .line2 {
    transform: rotate(45deg) translate(-7px, -6px);
}

.current {
    border-bottom: 2px solid white;
}


section {
    z-index: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    padding: 10vh 2vw 10vh 2vw;
    padding-top: 2vh;

    border-bottom: 1px solid black;
    /* background: rgb(235,210,221);
    background: linear-gradient(0deg, rgba(235,210,221,1) 7%, rgba(204,228,232,1) 50%); */
    background-color: whitesmoke;
}

.section-container {
    vertical-align: middle;
    height: auto;
    margin: auto;
}

#contact iframe{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.map-wrapper{
    max-height: 500px;
    max-width: 500px;

    height: 40vw;
    width: 40vw;
    border: 2px solid white;
    background-color: white;
    border-radius: 25px;
}



/* Carousel - slideshow */


/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-container {
    text-align: center;
    padding: 1vh 0 1vh 0;
}

.active-dot {
    background-color: #717171;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow container */
.slideshow-container img {
    z-index: 0;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.slideshow-container {
    z-index: 0;
    width: 100%;
    position: relative;
    margin: auto;
    border-radius: 10px;
}

/* Caption text */
.caption-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: 0px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.map{
    width: 60%;
}




.icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: red;
    mask-size: cover;
  }

.icon-hone path{
    fill: red;
}


/* 
    TODO
    media @ min-width 1200
    media @ min-width 992
    media @ min-width 768
            max-width 767


    usunąć lub poprawić funkcję otwierająca category-container

 */


/* debuging */

/* .nav-links *{
    border: 1px solid black;
} */