.sections-container {
    margin: auto;
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 0;
    min-height: 100vh;
    height: auto;

    margin: auto;

    scroll-behavior: smooth;

    padding: 2%;
}

section p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1%;
}

section h1 {
    font-size: 2.2rem;
    color: var(--main-bg-primary);
    padding-bottom: 6vh;
}

.opaque-section h1 {
    color: #7B3F00;
}


#home {
    max-width: 100%;
}



#about p span {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-bg-primary);
    text-shadow: 2px 2px var(--main-bg-accent);
}

#about .logo-wrapper {
    width: 25vw;
    max-width: 400px;
}


#how-to-order ol li {
    font-size: 1.5rem;
    padding: 1%;
}

#how-to-order li * {
    display: inline-block;
}

#how-to-order .collapsible-toggle {
    cursor: pointer;
    height: 1.7rem;
}

#how-to-order .collapsible-toggle:hover img {
    webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);

    transition: all .1s ease-in-out;
}

#how-to-order img {
    display: block;
    margin: auto;

    height: 1.8rem;
}

#how-to-order .collapsible {
    display: block;
    max-height: 0;
    height: 0;

    overflow: hidden;

    margin: 0;

    text-align: start;
    font-size: 1rem;
    transition: max-height .5s ease-in-out;

}

#how-to-order .collapsible.active {
    max-height: 2000px;
    height: auto;

    transition: max-height .5s ease-in-out;
}



.section-content-wrapper {
    max-width: 1024px;
    width: 100%;
    height: 100%;
}

.opaque-section {

    background-color: var(--section-background);
}

section .centered-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}




section .column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

section .column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 45%;
    height: 100%;

    padding: 1.5rem;

    /* background-color: var(--cookie); */
    background-image: url("../assets/backgrounds/biscuit-background.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 15px;
}

section .column .content-wrapper {
    margin: auto;
}

section .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin: 6% 0 6% 0
}

section .phone-wrapper:hover {

    webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

section .phone-wrapper a {
    font-size: 2rem;
    font-family: var(--roboto-font);
    color: white;
}

section .address-wrapper p {
    color: white;
    font-size: 1.5rem;
    font-family: var(--roboto-font);
    text-align: left;
}

section .wrapper .icon-wrapper {
    height: 3.5rem;
    margin-right: 1rem;
}

section .social-media-links {
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5%;
}

section .social-media-links .icon-wrapper {
    margin: auto;
}

section .social-media-links a {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section .social-media-links a:hover .icon-wrapper {
    webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition: all .1s ease-in;
}

section .vertical-line {
    width: 2px;
}

section .horizontal-line {
    background-color: var(--section-background);
    height: 2px;
    width: 100%;
    padding: 0;

}


@font-face {
    font-family: Nickainley;
    src: url(../fonts/Nickainley.otf);
}



.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.resp-iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
}



/* Carousel - slideshow */
/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1vh 0 1vh 0;
    width: 100%;
}

.active-dot {
    /* background-color: #717171; */
    background-color: var(--main-bg-accent);
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow container */
.slideshow-container img {
    z-index: 0;
    width: 100%;
    margin: auto;
}

.slideshow-container {
    z-index: 0;
    width: 100%;
    position: relative;
    margin: auto;
    border-radius: 10px;
}

/* Caption text */
.caption-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8%;
    width: 100%;
    text-align: center;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 0px 0px 3px
}

.prev {
    left: 0px;
    border-radius: 0px 3px 3px 0px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: var(--main-bg-accent);
}



@media screen and (max-width: 1124px) {}

@media screen and (max-width: 860px) {}

@media screen and (max-width: 768px) {

    main {
        padding-top: 5vh;
    }

    section {
        width: 100%;
        min-height: 100vh;
    }

    section h1 {
        padding: 0;
    }

    section p,
    section ol {
        font-size: 1rem;
    }


    .dot {
        width: 10px;
        height: 10px;
    }

    section .column-container {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
    }

    section .column {
        margin: auto;
        width: 90%;
        height: auto;
    }

    .resp-iframe-wrapper {
        position: relative;
        overflow: hidden;
        padding-top: 100%;
        width: 100%;
    }

    section .vertical-line {
        display: block;
        height: 0;
        width: 0;
        padding: 2vh;
        margin: 0;
    }

    section .address-wrapper p {
        font-size: 1.2rem;
    }
}




/* 
    TODO
    media @ min-width 1200
    media @ min-width 992
    media @ min-width 768
            max-width 767


    usunąć lub poprawić funkcję otwierająca category-container

 */