{% extends 'ciasta_ciasteczka/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href=" {% static 'ciasta_ciasteczka/styles/cookies.css' %} " />
{% endblock styles %}

{% block title%}
Polityka Coookie
{%endblock title%}

{% block main-content %}
<div class="main-content-wrapper">
<div class="cookie-info">
    <ul>
        <li>Postanowienia Ogólne
            <ol>

                <li>Administratorem danych jest "Ciasta, Ciasteczka Pracownia Ciast i Tortów Katarzyna Knaś-Karaszewska"
                    z
                    siedzibą
                    w Białymstoku ul.Obłoków 16/2 15-156, NIP: 9660281524, REGON: 200313767. Ochrona danych odbywa się zgodnie z
                    wymogami
                    powszechnie obowiązujących przepisów prawa, a ich przechowywanie ma miejsce na zabezpieczonych
                    serwerach.</li>
                <li>Dla interpretacji terminów stosuje się słowniczek Regulaminu lub tak jak zostało to opisane w
                    Polityce
                    Prywatności (jeżeli wynika to bezpośrednio z opisu).</li>
                <li>Na potrzeby lepszego odbioru Polityki Prywatności termin „Użytkownik” zastąpiony został określeniem
                    „Ty”,
                    „Administrator” – „My”. Termin „RODO” oznacza Rozporządzenie Parlamentu Europejskiego i Rady (UE)
                    2016/679 z
                    dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych
                    osobowych i
                    w
                    sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.</li>
                <!-- <li>Szanujemy prawo do prywatności i dbamy o bezpieczeństwo danych. W tym celu używany jest m.in. bezpieczny protokół szyfrowania komunikacji (SSL).</li> -->
            </ol>
        </li>
        <li>Administrator Danych
            <ol>

                <li>Usługodawca jest administratorem danych osób odwiedzających stronę.</li>
                <li>Dane osobowe przetwarzane są:a. zgodnie z przepisami dotyczącymi ochrony danych osobowych,b. zgodnie
                    z
                    wdrożoną
                    Polityką Prywatności,c. w zakresie i celu niezbędnym do poprawnego funkcjonowania strony po stronie
                    Użytkownika.
                </li>
                <li>Każda osoba, której dane dotyczą (jeżeli jesteśmy ich administratorem) ma prawo dostępu do danych,
                    sprostowania,
                    usunięcia lub ograniczenia przetwarzania, prawo sprzeciwu, prawo wniesienia skargi do organu
                    nadzorczego.</li>
                <li>Kontakt z osobą nadzorującą przetwarzanie danych osobowych w organizacji Usługodawcy jest możliwy
                    drogą
                    elektroniczną pod adresem e-mail: karkasia@interia.pl.</li>
                <li>Usługodawca ma prawo udostępniać dane osobowe Użytkownika oraz innych jego danych podmiotom
                    upoważnionym
                    na
                    podstawie właściwych przepisów prawa (np. organom ścigania).</li>
                <li>Usługodawca nie udostępniania danych osobowych innym podmiotom aniżeli upoważnionym na podstawie
                    właściwych
                    przepisów prawa.</li>
                <li>Dane osobowe przetwarzają osoby wyłącznie upoważnione przez nas albo przetwarzający, z którymi
                    ściśle
                    współpracujemy.</li>
            </ol>

        </li>

        <li>Pliki cookies
            <ol>

                <li>Witryna ciastaciasteczka.pl może używać cookies. Są to niewielkie pliki tekstowe wysyłane przez
                    serwer
                    www i przechowywane przez oprogramowanie komputera przeglądarki. Kiedy przeglądarka ponownie połączy
                    się
                    ze
                    stroną, witryna rozpoznaje rodzaj urządzenia, z którego łączy się użytkownik. Parametry pozwalają na
                    odczytanie
                    informacji w nich zawartych jedynie serwerowi, który je utworzył. Cookies ułatwiają więc korzystanie
                    z
                    wcześniej odwiedzonych witryn. Gromadzone informacje dotyczą adresu IP, typu wykorzystywanej
                    przeglądarki, języka,
                    rodzaju systemu operacyjnego, dostawcy usług internetowych, informacji o czasie i dacie oraz
                    lokalizacji.</li>
                <li>Zebrane dane służą do monitorowania i sprawdzenia, w jaki sposób użytkownicy korzystają z naszych
                    witryn, aby usprawniać funkcjonowanie serwisu zapewniając bardziej efektywną i bezproblemową
                    nawigację.
                    Monitorowania informacji o użytkownikach dokonujemy korzystając z narzędzia Google Analytics, które
                    rejestruje
                    zachowanie użytkownika na stronie.</li>
                <li>Cookies identyfikuje użytkownika, co pozwala na dopasowanie treści witryny, z której korzysta, do
                    jego
                    potrzeb. Stosujemy pliki cookies, aby zagwarantować najwyższy standard wygody naszego serwisu, a
                    zebrane
                    dane są
                    wykorzystywane jedynie wewnątrz firmy "Ciasta, Ciasteczka Pracownia Ciast i Tortów Katarzyna
                    Knaś-Karaszewska" w celu optymalizacji działań.</li>
                <li>Użytkownik w każdej chwili ma możliwość wyłączenia lub przywrócenia opcji gromadzenia cookies
                    poprzez
                    zmianę ustawień w przeglądarce internetowej. Instrukcja zarządzania plikami cookies jest dostępna na
                    stronie.</li>
                <li>Brak zmian domyślnych ustawień przeglądarki jest traktowany jako zgoda Użytkownika na używianie
                    plików
                    cookies.</li>
            </ol>

        </li>
    </ul>
    </div>
</div>

{% endblock main-content %}